/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/**
 * 	1.0 Navi Logo Big Option Big
 * 
 *	@since    1.0.6
 */
.k8-navi-logo-big  .navi-left.navi-container{
	
	position: absolute;
  	left: 0;
  	top: 0;
  	padding: 0;
  	z-index: 100;
  	text-align: left;
	
}

.k8-navi-logo-big  .navi-left.navi-container img{
	
	max-width: none;
  	max-height: none;
	
}

/**
 * 	2.0 iBox Square Image
 * 
 *	@since    1.0.7
 */
.k8-ibox-square-image .ibox .ibox-media .ibox-icon-border, .square .ibox .ibox-media .ibox-icon-border{
	
	border-radius: 0;
	
}
