
/**
 * Client Admin Styles 
 * 
 * */

// Role Variables
@ClientAdmin = role-client_admin;

.disable(){
  display:none;
}

// Change Pagelines Icon
.icon-pagelines:before, .fa-pagelines:before{ content:"\f044"; } 

// Remove Move CUrsor for client admin
.@{ClientAdmin}.drag-drop-editing .pl-section.section-hover, 
.@{ClientAdmin}.drag-drop-editing .pl-section:hover, 
.@{ClientAdmin}.drag-drop-editing .pl-section.ui-sortable-helper,
.@{ClientAdmin}.drag-drop-editing .pl-section .pl-section-controls:hover
{ cursor:initial; }

// Remove Template Unlock link
.@{ClientAdmin}.pl-editor .region-unlock{ .disable; }

/*
 * General Area Controls
 */
.@{ClientAdmin}.pl-editor .pl-area-controls{
  .area-delete  { .disable; }
  .area-clone   { .disable; }
  .area-save    { .disable; }
  .area-reorder { .disable; }
  .area-edit    {  }
  .area-unlock  { .disable; }
}

/*
 * General Section Controls
 */
.@{ClientAdmin}.pl-editor .pl-section-controls{}
.@{ClientAdmin}.pl-editor .pl-section-controls .controls-left{
  .section-size           { .disable; }
  .section-decrease       { .disable; }
  .section-increase       { .disable; }
  .offset-size            { .disable; }
  .section-offset-reduce  { .disable; }
  .section-offset-increase{ .disable; }
  .section-start-row      { .disable; }
}
.@{ClientAdmin}.pl-editor .pl-section-controls .controls-right{
  .section-edit   {}
  .section-clone  { .disable; }
  .section-delete { .disable; }
}

/**
 *   Navi Area Controls
 */
.@{ClientAdmin}.pl-editor .section-navi .pl-area-controls{
  .area-delete  { .disable; }
  .area-clone   { .disable; }
  .area-save    { .disable; }
  .area-reorder { .disable; }
  .area-edit    {}
  .area-unlock  { .disable; }
}

/**
 *   Flipper Section
 */
.@{ClientAdmin}.pl-editor .section-flipper .pl-area-controls{ .disable; }

/**
 *   DMS Editor Styles
 */
.@{ClientAdmin}.pl-editor #PageLinesToolbox.pl-toolbox .toolbox-panel .tab-panel .tab-panel-inner legend .clip-desc{ .disable; }
.@{ClientAdmin}.pl-editor .opt-pl_section_styling{ .disable; }

/* Canvas Area Options */
.@{ClientAdmin}.pl-editor .tab-panel .form-pl_area-template .opt-columns .span6:first-child{ .disable; }
.@{ClientAdmin}.pl-editor .tab-panel .form-pl_area-global .opt-columns .span6:first-child{ .disable; }
.@{ClientAdmin}.pl-editor .tab-panel .opt-pl_area_pad_selects{ .disable; }

/* Flipper Options */
.@{ClientAdmin}.pl-editor .tab-panel .form-flipper-template .opt-columns{ .disable; }
